	<div class="container header">
    	<div class="four columns logo">
        	<%= link_to image_tag('glow-logo.png'), root_path %>
    	</div> 
        <div class="twelve columns social-media">
			<ul>
				<li class="facebook"><%= link_to image_tag('facebook-badge.png'), :action => 'index' %></li>
				<li class="twitter"><%= link_to image_tag('twitter-badge.png'), :action => 'index' %></li>
				<li class="pinterest"><%= link_to image_tag('pinterest-badge.png'), :action => 'index' %></li>
			</ul>
        </div>
		 <div class="iphone">   
			<div class="six columns">
				<div class="small-btns"><a href="#">Home</a></div>
			</div>
			<div class="six columns">    
				<div class="small-btns"><a href="#">Blog</a></div>
			</div>
			<div class="six columns">    
				<div class="small-btns"><a href="#">About</a></div>
			</div>
			<div class="six columns">    
				<div class="small-btns"><a href="#">Contact</a></div>
			</div>    
		   </div> 
    </div>
